.idos{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    margin-bottom: 40px;

    .emptyArrays{
        color: rgb(163, 163, 163);
        display: flex;
        justify-content: center;
        font-size: 20pt;
        width: 100%;
    }
}

.upidos{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    margin-bottom: 40px;

    .emptyArrays{
        color: rgb(163, 163, 163);
        display: flex;
        justify-content: center;
        font-size: 20pt;
        width: 100%;
    }
}

.ongoing{
    margin-top: 4em;
    .title{
        font-family: 'Figtree', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #000000 !important;
        margin-right: 64px;
    }
    .ongoingIdos{
        width: 100%;

        .emptyArrays{
            color: rgb(163, 163, 163);
            display: flex;
            justify-content: center;
            font-size: 20pt;
        }
    }
}

.menu{
    display: flex;
    margin-top: 136px;
    margin-bottom: 36px;

    .menuElement{
        font-family: 'Figtree', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
        opacity: 0.3;
        margin-right: 64px;
    }

    .menuElementActive{
        font-family: 'Figtree', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
        margin-right: 64px;
    }

    .line{
        width: 100%;
        height: 4px;
        background: #000000;
        margin-top: 10px;
    }
}

@media(min-width:350px){
    .menu{
        flex-direction: column;
        .menuElement{
            font-size: 24px ;
        }
        .menuElementActive{
            font-size: 24px ;
        }

    }
}

@media(min-width:850px){
    .menu{
        flex-direction: row;
        .menuElement{
            font-size: 40px ;
        }
        .menuElementActive{
            font-size: 40px ;
        }

    }
}

@media(max-width: 1000px) and (orientation: portrait){
    .menu{
        margin-top:20px;
        margin-bottom: 10px;
    }

    .upidos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        flex-direction: column;
    
        .emptyArrays{
            color: rgb(163, 163, 163);
            display: flex;
            justify-content: center;
            font-size: 20pt;
            width: 100%;
        }
    }
    
}