.BG{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    height: 80vh;
    background: #000;

    .bgimg{

        width: 100%;
        height: 100%;
        background-color: rgb(19 18 29/1);
        object-fit: cover;
        position: absolute;
        z-index: -1;
        
    }

    .wave{
        z-index: 0;
    }

}

@media (max-width: 1440px){
    .BG{
        height: 60vh;
    }
}

@media (max-width: 1000px) and (orientation: portrait){
    .BG{
        .bgimg{
            min-height: 80vh;
            object-fit: cover;
        }
    }
}