.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: #212026;
    border-radius: 40px;
    padding: 0.375rem 0.5rem;
  }
  
  .tabItem {
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 0.5rem 1.25rem;
    font-size: 15px;
    font-weight: 600;
  }
  
  .tabItem.active {
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #000;
    background-color: #e2e1e5;
    border-radius: 40px;
    padding: 0.5rem 1.25rem;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
  }
  .titleBlock {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 40px;
  }
  
  .titleBlock span {
    color: #dab062;
  }
  
  .tabContent {
    width: 100%;

    padding: 2rem;
    color: white;
    border-radius: 5px;
  }
  
  .tabContent h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .tabContent p {
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
    padding-right: 15vh;
    color:rgb(226, 224, 224);
  }

  .tabContent ul {
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
    padding-right: 15vh;
    color:rgb(226, 224, 224);
  }
  
  @media (max-width: 768px) {
    .tabs {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    .tabItem {
      margin-bottom: 1rem;
    }
  
    .tabContent {
      max-width: 100%;
    }
  }
  