.Info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

.infoBlocks{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .infoBlock {
        width:100%;
    
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        background: url(images/backgound.jpg) no-repeat;
        background-size: cover;
        background-position: right;
        margin-bottom: 40px;
        position: relative;
    min-height: 400px;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
        .link {
            cursor: pointer;
            margin-top: 0.5em;
        }
    
        .title {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 1.9rem;
    
            color: #ffffff;
        }
    
        .text {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 20px;
            color: #c1baba;
            margin: 8px 0px;
            min-height: 3.5em;
        }
    }
    
}



.participateBlocks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    width: 100%;

    .participateBlock {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }

    .participateBlock::after{
        content: "";
        position: absolute;
        background-color: rgb(226, 224, 224);
        height: 2px;
        width: 25%;
        margin-top: 4%;
        margin-left: 5%;
        z-index: -1;
    }

    .participateBlock:last-child::after{
        display: none;;
    }

    .imgBlock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 9vw;
    }

    .title {
        font-family: "Montserrat";
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 16pt;
        line-height: 29px;
        color: #fffcfc;
        margin-bottom: 10px;
    }

    .text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 12pt;
        line-height: 24px;
        text-align: center;
        color: #fefefe;
        margin-bottom: 10px;
    }

    .link {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14pt;
        text-align: center;
        background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
}

.titleBlock {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 40px;
}

@media (max-width: 900px) {
    .participateBlocks {
        flex-wrap: wrap;
    }
}

@media (min-width: 350px) {
    .participateBlocks {
        justify-content: space-between;
        .participateBlock {
            width: 100%;
        }
    }
}

@media (max-width: 1280px){
    .infoBlocks{
        .infoBlock{
            max-width: none;
        }
    }
}

@media (max-width: 1440px) {
    .infoBlock {
    
        .title {
            font-size: 18pt;
        }
        .text {
            font-size: 9pt;
        }

        .link {
            margin-top: 0;
        }
    }

    .participateBlocks {
        .participateBlock {
            .title {
                font-family: "Montserrat";
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 12.5pt;
                line-height: 14pt;
                color: #fafafa;
            }

            .text {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: normal;
                font-size: 10pt;
                line-height: 13pt;
                text-align: center;
                color: #f5f3f3;
            }

            .link {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 12.5pt;
                line-height: 16pt;
                text-align: center;
                background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1000px) and (orientation: portrait){
    .Info{
        flex-direction: column;
        .infoBlocks{
            flex-direction: column;
            .infoBlock{
                padding: 1.5em;
                width: auto !important;
                max-width: none;
                margin-bottom: 0.9em;
            }
        }
        

        .titleBlock{
            margin-top: 2em;
            font-size: 20pt;
            font-weight: 900;
            margin-bottom: 0.2em;
        }

        .participateBlocks{

            .participateBlock{
                margin-bottom: 2em;
            }
            .imgBlock{
                height: 11em;
            }
            .participateBlock::after{
                display: none;
            }
        }
    }

    
}

.Info {
  .infoBlock {
    cursor: pointer;
    margin-bottom: 10px;

    .question {
      font-weight: bold;
    }

    .answer {
      display: none;
      margin-top: 5px;
    }

    &.active {
      .answer {
        display: block;
      }
    }
  }

  .participateBlock {
    cursor: pointer;
    margin-bottom: 10px;

    .title {
      font-weight: bold;
    }

    .imgBlock {
      margin-top: 10px;
      max-width: 100px;
    }

    .text {
      margin-top: 5px;
    }

    .link {
      margin-top: 5px;
    }

    &.active {
      .imgBlock,
      .text,
      .link {
        display: block;
      }
    }

    .imgBlock,
    .text,
    .link {
      display: none;
    }
  }

  /* Additional CSS to display questions one under the other */
  .question-list {
    margin: 20px 0;
    padding: 0;

    li {
      list-style-type: none;
      margin-bottom: 10px;
      cursor: pointer;
      font-weight: bold;

      .answer {
        display: none;
        margin-top: 5px;
      }

      &.active {
        .answer {
          display: block;
        }
      }
    }
  }
}
.Info {
    .accordion {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 10px;
    }
  
    .faq {
      background-color: #2b2b2b79;
      margin-bottom: 10px;
      border: 1px solid hsla(0, 0%, 100%, 0.1);

      border-radius: 5px;
      overflow: hidden;
  
      .question {
        cursor: pointer;
        padding: 15px;
        font-weight: bold;
        font-size: 18px;
        color: #f5f3f3;
      }
  
      .answer {
        padding: 15px;
        font-size: 16px;
        color: #f5f3f3;
      }
    }
  
    @media (max-width: 768px) {
      .faq {
        .question {
          font-size: 16px;
        }
  
        .answer {
          font-size: 14px;
        }
      }
    }
  }
  