.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .priceCards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .priceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgb(161 160 171/1);
    background: linear-gradient(#2b2b2b8f, rgba(6, 12, 26, 0.5));
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;


    border: 1px solid hsla(0,0%,100%,.1);
    font-size: 15px;
    font-weight: 500;

    line-height: 22px;
    max-width: 220px;
    min-width: 380px;
    padding: 40px;
  }
  .line {
    background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.2) 50%,hsla(0,0%,100%,0));
    border: 0;
    height: 1px;
    margin: 24px;
  }
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
    color: #f7f8f8;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

 
  .price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .features {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;

    color: rgb(188 188 188 / 82%);
  
    li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
  
        .checkmark {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
        .customIcon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
      }
    
  }
  

  .titleBlock {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 40px;
  }
  
  .titleBlock span {
    color: #dab062;
  }
  
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  @media (max-width: 767px) {
    .priceCards {
      flex-direction: column;
      align-items: stretch;
    }
  
    .priceCard {
      margin-bottom: 20px;
    }
  
    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
        color: #f7f8f8;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
  
    .price {
      font-size: 22px;
      margin-bottom: 8px;
    }
  
    .features {
      margin-bottom: 15px;
  
      li {
        margin-bottom: 3px;
      }
    }
  
    .button {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  