.IdoBlock {
    max-width: 32%;
  
    margin-bottom: 36px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 0;
    height: fit-content;
    min-height: 100%;
    margin-right: 1em;

    header{
        padding-top: 3em;
        padding-bottom: 3em;     
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2em;
            
        .bgImage{
            object-fit: cover;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            position: absolute;
            z-index: 0;
            border-radius: 12px;
            filter: brightness(50%);
        }
    

        .tokenBlock {
            display: flex;
            justify-content: center;
            flex-direction: row;
            z-index: 0;
            
        
            .token {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
        
                img {
                    border-radius: 100%;
                    object-fit: cover;
                    height: 6em !important;
                    width: 6em !important;
                }
        
                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 15px;
                    color: white;
                }
        
                .name {
                    font-family: 'Montserrat' !important;
                    font-style: normal;
                    font-weight: 900;
                    font-size: max(32pt, 100%) !important;
                    line-height: 39px;
                    color: white;
                }
        
                .price {
                    font-family: 'Figtree', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                }
            }
        
            .progresLabel {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .styledLabel {
                    background: linear-gradient(180deg, #0aa7f5 0%, #3ce7ff 100%);
                    border-radius: 4px 0px 0px 4px;
                    padding: 4px 7px;
                    font-family: 'Figtree', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ffffff;
                }
            }
        }
    }

    main{
        border-radius: 12px;
        box-shadow: 0px -5px 10px -3px rgba(255, 255, 255, 0.794);
        transform: translate(0, -1em);
        z-index: 2;
        background-color: white;
        padding-bottom: 0 !important;
        padding-top: 0.75em !important;

        .navBar{
            display: flex;
            border-bottom: 1px solid rgb(211, 211, 211);

            .navItem{
                margin-right: 1em;
                color:rgb(124, 124, 124);
                font-weight: 400;
                font-family: 'Cabin';
                padding-bottom: 0.5em;
                cursor: pointer;
            }

            .navItemActive{
                margin-right: 1em;
                color:rgb(0, 60, 121);
                font-weight: 400;
                font-family: 'Cabin';
                border-bottom: 2px solid rgb(87, 154, 222);
                z-index: 1;
                cursor: pointer;
            }
        }

        .mediaBar{
            display: flex;
            align-items: center;
            
            .verticalSeparator{
                width: 0;
                border-left: 1px solid rgb(218, 216, 216);
                margin-right: 0.8em; 
                height: 2em;
            }

            a{
                img{
                    height: 1.5em;
                    border-radius: 50%;
                }
                margin-right: 0.8em;
                
            }
            margin-bottom: 1em;
            margin-top: 0.5em;
        }

        .offeringSection{
            margin-top: 0.75em;
            h1{
                font-family: 'Montserrat';
                font-size: 190%;
            }
        }

        .descriptionSection{
            margin-top: 0.75em;
            h1{
                margin-bottom: 0em;
                font-family: 'Figtree', sans-serif;
                font-size: 190%;
            }

            p{
                margin-top: 0em;
                font-size: 10pt;
            }
        }
    }
}

.IdoBlock:last-child{
    margin-right: 0;
}




.saleInfo {
    .line {
        height: 2px;
        width: 100%;
        background: #000000;
        opacity: 0.1;
        margin-top: 2vh;
    }
}

.totalRaised {
    margin-top: 5px;
    .text {
        font-family: "Montserrat";
        font-weight: 400;
        font-style: normal;
        font-size: 12pt;
        line-height: 14pt;
        color: #000000;

    }

    .count {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 24pt;
        margin-top: 2pt;
        background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.textToShowBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 0.5em;

    .textToShow {
        display: flex;
        flex-direction: column;
        
        .text {
            font-family: 'Figtree', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14pt;
            line-height: 20px;
            color: #000000;
        }
        .value {
            font-family: 'Figtree', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }
    }
}

.launchDetaid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;

    .block {
        display: flex;
        flex-direction: column;
    }

    .subBlock {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin-right: 10px;
        align-items: center;
    }

    .text {
        font-family: 'Figtree', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10pt;
        line-height: 10pt;
        color: #000000;
        margin-right: 10px;
    }

    .value {
        font-family: 'Figtree', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12pt;
        line-height: 13pt;
        color: #0495ce;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

@media (min-width: 800px) {
    .IdoBlock {
        width: calc(50% - 5vw);
        margin-bottom: 1vw;
        main{
            padding: 2vw;
        }
    }
}

@media (max-width: 1440px) {

    .IdoBlock{
        header{
            .tokenBlock{
                
                .token{
                    .text{
                        font-size: 10pt;
                    }

                   
                    .name{
                        font-size: 22pt !important;
                    }
                }
            }
        }
    }

    
    main{
        padding-left: 5%;
        padding-right: 5%;
    }

    .totalRaised {
        margin-top: 0px;
        .text{
            font-size: 10pt;
            line-height: 12pt;
        }

        .count{
            font-size: 18pt;
        }
    }

    .textToShowBlock {   
        margin-top: 0;
        .textToShow {
            display: flex;
            flex-direction: column;
            
            .text {
                font-family: 'Figtree', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 10pt;
        
                color: #000000;
            }
            .value {
                font-family: 'Figtree', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14pt;
                color: #000000;
            }
        }
    }

    .launchDetaid{
        margin-top: 1em;
        .text {
            font-family: 'Figtree', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 9pt;
            line-height: 9pt;
            color: #000000;
            margin-right: 10px;
        }
    
        .value {
            font-family: 'Figtree', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 9pt;
            line-height: 9pt;
            color: #0495ce;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }
}

@media (max-width: 1000px) and (orientation: portrait){
    .IdoBlock {
        width: auto;
        max-width: none;
        margin-right: 0;
        margin-bottom: 30px;
        background: #ffffff;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
       

        cursor: pointer;

        header{
            .tokenBlock{
                .token{

                    img{
                        height: 3em;

                    }
                    .name{
                        font-size: 20pt !important;
                    }
                }
            }
        }

        main{
            padding: 1.5em;
        }
    }

    .totalRaised {
        margin-top: 0px;
        .text{
            font-size: 8pt;
            line-height: 12pt;
        }

        .count{
            font-size: 14pt;
        }
    }

    .textToShowBlock {   
        margin-top: 0;
        .textToShow {
   
            
            .text {
    
                font-size: 8pt;

            }
            .value {
                font-size: 12pt;
                color: #000000;
            }
        }
    }

    .progressBar{
        margin: 0;
    }

    .launchDetaid {
        margin-top: 15px;

        .subBlock {
            
            margin-right: 5px;
        }
    
        .text {
   
            font-size: 6pt;
            line-height: 6pt;
            margin-right: 5px;
        }
    
        .value {
            font-family: 'Figtree', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 8pt;
            line-height: 8pt;
            color: #0495ce;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }
}