.TableHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 17px;
    color: #000000;
    padding: 24px;
}