.Info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

.infoBlocks{
    display: flex;
    justify-content: space-around; /* Adjusted justify-content value */
    width: 100%;
    .infoBlock {
        width: calc(25% - 10px);

    background-color: rgb(19 18 29/1);
        border: 1px solid rgb(255 255 255 / 4%);
        border-width: 1px;
        border-color: rgb(51 50 62/1);
        border-radius: 1.5rem;
        padding: 2vw;
        margin-bottom: 40px;
    
        .link {
            cursor: pointer;
            margin-top: 0.5em;
        }
    
        .title {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
    
            color: #c3c3c3;
        }
    
        .text {
            font-family: "Monseratt", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 2.1rem;
         
            color: #f1f1f1;
            margin: 8px 0px;
         
        }
        .value {
            font-family: "gotham-book";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #bfbfbf!important;
            color: #000;
            opacity: .5;
         
        }
    }
    
}



.participateBlocks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    width: 100%;

    .participateBlock {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }

    .participateBlock::after{
        content: "";
        position: absolute;
        background-color: rgb(226, 224, 224);
        height: 2px;
        width: 25%;
        margin-top: 4%;
        margin-left: 5%;
        z-index: -1;
    }

    .participateBlock:last-child::after{
        display: none;;
    }

    .imgBlock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 9vw;
    }

    .title {
        font-family: "Montserrat";
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 16pt;
        line-height: 29px;
        color: #fffcfc;
        margin-bottom: 10px;
    }

    .text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 12pt;
        line-height: 24px;
        text-align: center;
        color: #fefefe;
        margin-bottom: 10px;
    }

    .link {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14pt;
        text-align: center;
        background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
}

.titleBlock {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 40px;
}

@media (max-width: 900px) {
    .participateBlocks {
        flex-wrap: wrap;
    }
}

@media (min-width: 350px) {
    .participateBlocks {
        justify-content: space-between;
        .participateBlock {
            width: 100%;
        }
    }
}

@media (max-width: 1280px){
    .infoBlocks{
        .infoBlock{
            width: 26.3% !important;
            max-width: none;
        }
    }
}

@media (max-width: 1440px) {
    .infoBlock {
    
        .title {
            font-size: 18pt;
        }
        .text {
            font-size: 9pt;
        }

        .link {
            margin-top: 0;
        }
    }

    .participateBlocks {
        .participateBlock {
            .title {
                font-family: "Montserrat";
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 12.5pt;
                line-height: 14pt;
                color: #fafafa;
            }

            .text {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: normal;
                font-size: 10pt;
                line-height: 13pt;
                text-align: center;
                color: #f5f3f3;
            }

            .link {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 12.5pt;
                line-height: 16pt;
                text-align: center;
                background: -webkit-linear-gradient(#0aa7f5, #3ce7ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1000px) and (orientation: portrait){
    .Info{
        flex-direction: column;
        .infoBlocks{
            flex-direction: column;
            .infoBlock{
                padding: 1.5em;
                width: auto !important;
                max-width: none;
                margin-bottom: 0.9em;
            }
        }
        

        .titleBlock{
            margin-top: 2em;
            font-size: 20pt;
            font-weight: 900;
            margin-bottom: 0.2em;
        }

        .participateBlocks{

            .participateBlock{
                margin-bottom: 2em;
            }
            .imgBlock{
                height: 11em;
            }
            .participateBlock::after{
                display: none;
            }
        }
    }

    
}